<div id="viewTrash">
  <div id="viewTrashHead">
    <h1>Lixeira</h1>
    <p>Restaure ou exclua definitivamente suas anota&ccedil;&otilde;es.</p>
    <br />
  </div>
  <div id="viewTrashBody">
    <table id="trashListTable">
    </table>
  </div>
  <div id="footer">
    <a href="#" onclick="closePiro();">Voltar</a>
  </div>
</div> 