<h2>Lixeira</h2>
<p>Perdeu alguma anota&ccedil;&atilde;o?</p>

<table>
  <thead>
    <td>Conte&utilde;do</td>
    <td>Criado em</td>
    <td>Última altera&ccedil;&atilde;o</td>
    <td>A&ccedil;&otilde;es</td>
  </thead>
  <tbody>

  </tbody>
</table>

<a href="#" onclick="closePiro();">Sair</a>