<div id="viewTrash">
  <div id="viewTrashHead">
    <h1>Trash</h1>
    <p>Yes, this is your trash can.</p>
    <p>A little more organized, clean and no coffee cups...</p>
  </div>
  <div id="viewTrashBody">
    <table id="trashListTable">
    </table>
  </div>
  <div id="footer">
    <a href="#" onclick="closePiro();">Voltar</a>
  </div>
</div> 