#odTableTop{
  background-image: url(../images/index/background.jpg);
  background-repeat: repeat-x repeat-y;
  height:100%;
  width:100%;
}

#header{
  z-index:999;
  position:absolute;

  background: url(../images/index/cabecalho.png) no-repeat;
  width:600px;
  height:100px;
}

#header img.logo{
  margin: 0px 6px;
  cursor: pointer;
}

#header p.item{
  margin:0px;
  padding:0px;
  display: block;
  float:left;
}

#header p.menu{
  float:right;

  padding-top: 45px;
  margin-right: 35px;
  font-size:150%;
}

#right_menu{
  z-index:999;
  background-image: url(../images/index/menu_right.png);
  position:absolute;

  float:none;
  right:-5px;
  padding:0px;
  margin: 0px;
  top:1%;
  
  height:600px;
  width:150px;
  text-align: center;
  outline: 0px;
  

}

#right_menu .menuItem{
  width:100px;
  height: 100px;
  margin-top:15px;
  margin-left: 30px;
  cursor: move;
  display: block;
}

#right_menu #note{
  background-image: url(../images/index/mr_Note.png);
  background-repeat: no-repeat;
}

#right_menu #note:hover{
  background: url(../images/index/mr_Note_active.png);
}

#right_menu #cal{
  background-image: url(../images/index/mr_Cal.png);
  background-repeat: no-repeat;
}

#right_menu #cal:hover{
  background: url(../images/index/mr_Cal_active.png);
}

#right_menu #address{
  background-image: url(../images/index/mr_Address.png);
  background-repeat: no-repeat;
}

#right_menu #address:hover{
  background: url(../images/index/mr_Address_active.png);
}

#right_menu #text{
  background-image: url(../images/index/mr_Text.png);
  background-repeat: no-repeat;
}

#right_menu #text:hover{
  background: url(../images/index/mr_Text_active.png);
}

#right_menu #trash{
  background-image: url(../images/index/mr_Trash.png);
  background-repeat: no-repeat;
}

#right_menu #trash:hover{
  background: url(../images/index/mr_Trash_active.png);
}


  /*
   -----------------------------------------------------------------
   ----- _view_trash.html
   -----------------------------------------------------------------
  */

div#viewTrash{
   height: 405px;
   width:758px;
   overflow: hidden;

}

div#viewTrash table#trashListTable{
  width:100%;
  margin: 0px;
  padding:0px;
  clear:none;
}

div#viewTrash div#viewTrashBody{
  height: 315px;
  width:100%;
  margin: 0px;
  padding:0px;
  clear:none;
}

div#viewTrash div#footer{
    clear:none;
    float:left;
    
}

div#viewTrash h1{
  margin: 0px;
  padding:0px;
  top:0px;
  clear: none;

  font-size: 180%;
  line-height: 130%;
  color: #5aa7dc;
  word-spacing: 3px;
  font-weight: bold;
  text-shadow: #AAA 2px 1px 2px;

}

div#viewTrash p{
  font-weight: lighter;
  letter-spacing: 1px;

  margin: 0px;
  padding:0px;
}
