*{
  outline: 0px;
}
body{
 margin:0px;
 padding:0px;
 overflow:hidden;

 background-color: #fff; color: #333;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:link,
a:visited { color: #666; }
a:hover { color: #999; opacity: 0.7; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}



#page{
  margin:0px;
  padding:0px;
  position:absolute;
  height:100%;
  width:100%;
  overflow:hidden;
  z-index:1;
}


.statusbar{
  z-index:999;
  background-color:white;
  opacity:0.7;
  font-weight:bold;
  font-size:120%;
  position:absolute;
  width:auto;
  line-height:150%;
  left:0;
  bottom:0px;
  letter-spacing:1.5px;
  padding: 0px 20px;
  text-align:center;
}

#msg_header{
  display: block;
  top: 0px;
  padding:30px;

  font-weight: lighter;
  letter-spacing: 1px;
  word-spacing: 6px;
  font-size: 110%;
}

.msg_notice{
  border: 2px solid #B3FFB3;
  background-color: #E5FFE5;
  color: #00E600;
}

.msg_warn{
  border: 2px solid #FFFF85;
  background-color: #FFFFB8;
  color: #FFFF05;
}


#piroPanel{
  height: 100%;
  letter-spacing: 1px;
  margin: 0px 15px;

}

#piroPanel h1{
  font-size: 160%;
  line-height: 130%;
  display: block;
  color: #008080;
  word-spacing: 3px;
  font-weight: bold;
  text-shadow: #AAA 2px 1px 2px;

}

#piroPanel h6{
  border:1px solid red;
  display: block;
  color: #008080;
  word-spacing: 3px;

  margin: 0px;
  padding: 0px;
}

#piroPanel p{
  padding: 0px 0px;
  margin: 0px;
}

#piroPanel label{
  font-weight: bold;
  font-size: 110%;
  display: inline-block;
  width: 65px;
  overflow: visible;
}

#piroPanel .input{
  font-size: 115%;
  letter-spacing: 1px;
  word-spacing: 4px;
  padding: 2px;
}
