body{
 margin:0px;
 padding:0px;
 overflow:hidden;

 background-color: #fff; color: #333;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}



#page{
  margin:0px;
  padding:0px;
  position:absolute;
  height:100%;
  width:100%;
  overflow:hidden;
  z-index:1;
}


.statusbar{
  z-index:999;
  background-color:white;
  opacity:0.7;
  font-weight:bold;
  font-size:120%;
  position:absolute;
  width:auto;
  line-height:150%;
  left:0;
  bottom:0px;
  letter-spacing:1.5px;
  padding: 0px 20px;
  text-align:center;
}