/* 
    Document   : welcome
    Created on : Aug 24, 2010, 7:06:59 PM
    Author     : sanjos
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body{
  margin: 0px;
  padding: 0px;
}
div#page{
  background: white url(../images/welcome/cabecalho.jpg) repeat-x;
}

div#welcome{
  position: absolute;

  width: 980px;
  left:50%;
  margin-left: -460px;
  
}

div#cabecalho{
  height: 270px;
  overflow: hidden;
}

  div#cabecalho div#logo{
    position: absolute;
    z-index:999;

    width:396px;
    height:229px;

    left: -20px;
    top: 0px;
    

    cursor: pointer;
   
    background: url(../images/welcome/logo.png) no-repeat transparent;
  }

  div#cabecalho div#login{
    display: none;
    
    position:absolute;
    z-index: 998;
    
    width:396px;
    height:229px;

    right: 0px;
    top: -10px;
  
    background: url(../images/welcome/login.png) no-repeat;
  }


    div#cabecalho div#login div#content{
      padding: 60px 0px 0px 80px;
    }

      div#cabecalho div#login div#content p{
        padding : 5px 0px;
        line-height: 120%;
        text-shadow: #AAA 2px 1px 2px;
      }

      div#cabecalho div#login div#content .input{
        font-size:120%;
        width:195px;
        text-shadow: #AAA 1px 1px 1px;
      }

      div#cabecalho div#login div#content label{
        display: block;
        float:left;

        letter-spacing: 1px;
        font-size:100%;
        width:50px;

        padding-top:5px;
      }

  div#cabecalho div#left{
    float:left;
    width:119px;

    position:absolute;
    height: inherit;    
    left:0px;

    background: white url(../images/welcome/cabecalho_left.jpg) no-repeat;
  }

  div#cabecalho div#mid{
    float:left;
    width:100%;

    height: inherit;   
    
    background: white url(../images/welcome/cabecalho_mid.jpg) repeat-x;
  }

  div#cabecalho div#right{
    float:left;
    width:119px;

    position:absolute;
    right:0px;
    height: inherit;
    
    background: white url(../images/welcome/cabecalho_right.jpg) no-repeat;
  }


div#corpo{
  height: 210px;
  padding: 0px;
  margin:0px;
  clear:both;
}

  div#corpo div#left{
    float:left;
    width:119px;

    position: absolute;
    height: inherit;
    left:0px;

    background: white url(../images/welcome/corpo_left.jpg) repeat-y;
  }

  div#corpo div#mid{
    float:left;
    width:100%;

    margin:0px;
    padding-left:160px;
    background: white;
  }

  div#corpo div#right{
    float:left;
    width:119px;

    position:absolute;
    right:0px;
    height: inherit;

    background: white url(../images/welcome/corpo_right.jpg) repeat-y;
  }


div#rodape{
  height:119px;

}

  div#rodape div#left{
    float:left;
    width:119px;

    position:absolute;
    height: inherit;
    left:0px;

    background: white url(../images/welcome/rodape_left.jpg) no-repeat;
  }

  div#rodape div#mid{
    float:left;
    width:100%;

    height: inherit;   

    background: white url(../images/welcome/rodape_mid.jpg) repeat-x;
  }

  div#rodape div#right{
    float:left;
    width:119px;

    position:absolute;
    right:0px;
    height: inherit;

    background: white url(../images/welcome/rodape_right.jpg) no-repeat;
  }


  /*
   -----------------------------------------------------------------
   ----- step carousel
   -----------------------------------------------------------------
  */


  	.stepcarousel{
	position: relative; /*leave this value alone*/
	border: 0px solid black;
	overflow: scroll; /*leave this value alone*/
	width: 660px; /*Width of Carousel Viewer itself*/
	height: 180px; /*Height should enough to fit largest content's height*/
	}

	.stepcarousel .belt{
	  position: absolute; /*leave this value alone*/
	  left: 0;
	  top: 0;
	}

	.stepcarousel .panel{
	  float: left; /*leave this value alone*/
	  overflow: hidden; /*clip content that go outside dimensions of holding panel DIV*/
	  margin: 0px; /*margin around each panel*/
	  width: 660px; /*Width of each panel holding each content. If removed, widths should be individually defined on each content DIV then. */
	}

        .stepcarousel .panel h1{
            font-size: 30px;
            line-height: 33px;
            margin:20px 0px;
        }

        .stepcarousel .panel h2{
            font-size: 26px;
            line-height: 26px;
            margin:10px 0px;
            color: gray;
        }

        .stepcarousel .panel p{
            margin:2px 0px;
            padding: 0px;
        }






  /*
   -----------------------------------------------------------------
   ----- _NovaConta.html
   -----------------------------------------------------------------
  */


#novaConta{
  height: 100%;
  letter-spacing: 1px;
  margin: 0px 15px;

}

#novaConta h1{
  font-size: 160%;
  line-height: 130%;
  display: block;
  color: teal;
  word-spacing: 3px;
  font-weight: bold;
  text-shadow: #AAA 2px 1px 2px;

}

#novaConta h6{
  border:1px solid red;
  display: block;
  color: teal;
  word-spacing: 3px;

  margin: 0px;
  padding: 0px;
}

#novaConta p{
  padding: 0px 0px;
  margin: 0px;
}

#novaConta label{
  font-weight: bold;
  font-size: 110%;
  display: inline-block;
  width: 65px;
  overflow: visible;
}

#novaConta .lbSenha{
  width:125px;
  text-align: right;
  padding-right: 10px;
}

#novaConta .input{
  font-size: 115%;
  letter-spacing: 1px;
  word-spacing: 4px;
  padding: 2px;
}