.note{
  background-color: yellow;
  width:150px;
  height:160px;
  display: block;
  float: none;
  position:absolute;
  letter-spacing:1px;
  z-index:2;
  overflow:hidden;
}

.note .noteHeader {
  background: gold;
  font-weight: bold;
  font-size:115%;

}

.note .noteBody{
  width:100%;
  height:100%;

}

.note textarea{
   width:100%;
   height:100%;
   border:0px;
   background-color: inherit;
}

.note input{
   width:100%;
   height:100%;
   border:0px;
   background-color: inherit;
}

.note .noteHeader .noteFechar{
   display: block;
   float:right;
   cursor: pointer;


}

