.note{
  background-color: yellow;
  width:150px;
  height:160px;
  display: block;
  float: none;
  position:absolute;
  z-index:2;
  
}

.noteHeader{
  background-color: #FFC71F;
  height:1.3em;

  padding:1px;
  cursor: move;
  
  font-weight: bold;
  font-size:80%;

}

.note .noteBody{
  width:100%;
  height:100%;

}


.note textarea,
.note textarea:focus{
   width:100%;
   height:100%;

   resize:none;
   outline: 0px;


   border:0px;
   padding:2px;
   margin: 2px;
   
   font-size: 110%;
   font-family: Tahoma, sans-serif, arial;
   font-weight: lighter;
   letter-spacing: 1px;
   background-color: inherit;
}

.note input{
   width:100%;
   height:100%;
   border:0px;
   background-color: inherit;
}

.note .noteHeader .noteFechar{
   display: block;
   float:right;
   cursor: pointer;


}

